.popular {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid #333;
  border-radius: 4px;
  position: relative;
  padding: 30px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

button {
  padding: 10px;
  background-color: #4e4caf;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

textarea {
  background-color: transparent;
  color: #ccc;
}

.btn-reset {
  background-color: var(--xiketic);
}

.name-div,
.email-div,
.textarea-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-div input,
.email-div input,
.textarea-div textarea {
  width: 90%;
}

label {
  width: 100px;
}

span {
  position: relative;
  top: -10px;
  left: -15%;
  color: red;
  font-size: 15px;
  text-decoration: underline;
  opacity: 0;
}

.buttons {
  display: flex;
}

button:hover {
  background-color: #ccc;
  color: black;
  cursor: pointer;
}

button:disabled {
  background-color: gray;
  color: white;
  cursor: none;
}
